:root {
  --primary: #00ffcc;
  --secondary: #007d64;
  --drei-lol: #007d64;
  --text-color-dark: rgb(30, 39, 47);
  --text-color-light: #ffffff;
  --navbar-background: rgb(44, 55, 66);
}

body {
  margin: 0;
  font-family: sans-serif;
}

.navbar {
  width: 100%;
  background-color: var(--navbar-background);
  overflow: auto;
  text-align: center;
  position: fixed;
  top: 0;
}

.navbar a {
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
  text-align: center;
}

.navbar p {
  color: var(--text-color-light);
  margin-left: 50px;
  margin-top: 6px;
  margin-bottom: 0px;
  font-weight: 800;
  letter-spacing: 0.225em;
}

.navbar a:hover {
  background-color: #000;
}

.active {
  background-color: var(--text-color-dark);
}

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}

.footer-div {
  position: fixed;
  bottom: 0;
  height: 50px;
  background-color: var(--navbar-background);
  width: 100%;
  text-align: center;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.label-header {
  width: 100%;
  box-sizing: border-box;
  line-height: 0px;
  border: 3px solid rgba(0, 0, 0, 0);
  height: 60px;
  background-color: rgb(44, 55, 66);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding-left: 20px;
  color: var(--text-color-light);
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.1em;
}

.flex-container .normal-size-widget {
  margin: 20px;
  font-size: 30px;
  width: 680px;
  height: 405px;
  display: inline;
  box-shadow: 0px 0px 10px #000000;
}

.flex-container .full-size-widget {
  width: 1400px;
  height: 550px;
  font-size: 30px;
  margin: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px #000000;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

html,
body {
  width: 100%;
  height: 100%;
}

.ct-chart-co2 .ct-chart-temp .ct-chart-humid {
  padding-bottom: 50px;
}

#status,
#settings-sensor,
#status-network {
  border-collapse: collapse;
  width: 100%;
}

#status td,
#status th,
#settings-sensor td,
#status-network td,
#settings-sensor,
th #status-network th {
  color: rgb(255, 255, 255);
  border: 0px solid #ddd;
  padding: 8px;
  width: 50%;
}

#status tr:nth-child(even),
#settings-sensor tr:nth-child(even),
#status-network tr:nth-child(even) {
  background-color: #292929;
}

.wifi-settings {
  height: calc(100% - 60px);
  width: calc(50% - 2.5px);
}

.wifi-scan {
  height: 441px;
  text-align: center;
}

.wifi-scan-rescan {
  text-align: center;
  background-color: var(--secondary);
  display: flex;
  justify-content: center;
  height: 10%;
  opacity: 0;
  transition: all 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.wifi-scan-label {
  opacity: 0;
  transition: all 0.2s ease-in-out;
}
.scanicon {
  transition: all 0.2s ease-in-out;
}
.wifi-scan:hover .scanicon {
  transform: scale(1.1);
}
.wifi-scan:hover .wifi-scan-label {
  opacity: 1;
}

#grad {
  height: 100%;
  background: #211f24;
  margin-top: 60px;
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgba(53, 53, 53, 0.705) rgb(175, 175, 175);
}

*::-webkit-scrollbar {
  width: 12px;
}
*::-webkit-scrollbar-track {
  background: rgb(175, 175, 175);
}
*::-webkit-scrollbar-thumb {
  background-color: rgba(53, 53, 53, 0.705);
  border-radius: 20px;
  border: 3px solid rgb(175, 175, 175);
}

.signal-strength {
  border-radius: 25px;
  background: #8fc9a4;
  padding: 20px;
  width: 60px;
  height: 30px;
}
